@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #480ca8;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    color: rgba(12, 3, 27, .7);
    background: rgba(76, 201, 240, .1);
}

.container {
    width: 82%;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

section {
    padding-top: 6rem;
}

section > h2 {
    text-align: center;
}

section > p {
    text-align: center;
    width: 90%;
    margin: .6rem auto 2rem;
}

#specialists > p {
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: .75rem 1rem;
    border-radius: 3rem;
    background: #f72585;
    color: #fff;
    cursor: pointer;
    transition: all 400ms ease;
}

.btn:hover {
    background: #f84c9b;
    box-shadow: 0 1rem 1.6rem rgba(12, 3, 27, .15);
}

.btn-primary {
    display: inline-block;
    width: fit-content;
    padding: .75rem 1rem;
    border-radius: 3rem;
    background: #480ca8;
    color: #fff;
    cursor: pointer;
    transition: all 400ms ease;
}

.btn-primary:hover {
    background: #580fce;
    box-shadow: 0 1rem 1.6rem rgba(12, 3, 27, .15);
}

@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    section > p {
        width: 55%;
    }
}

nav {
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 10;
    display: grid;
    place-items: center;
    background: linear-gradient(135deg, #4cc9f0, #ffffff);
    color: #480ca8;
    box-shadow: 0 1rem 1rem rgba(12, 3, 27, .1);
}

nav h1, nav h2, nav h3, nav h4, nav h5 {
    color: #480ca8;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .logo {

    padding: 0;
    width: 7rem;
    transition: all 200ms ease;
    
}

nav .container .logo:hover {
    scale: 1.1;
}

nav .container .btn {
    color: #fff;
    font-weight: 600;
}

nav .container ul {
    display: flex;
    gap: 3rem;
    align-items: center;
}

nav .container ul li a {
    font-weight: 600;
}

nav .container button {
    display: none;
}

nav .container a {
    color: #480ca8;
    font-weight: 500;
    font-size: .9rem;
}

nav .container  h2 {
    color: #480ca8;
}

@media screen and (max-width: 1024px) {
    nav .container button {
        display: inline-block;
        background: rgba(0, 0, 0, 0);
        color: #480ca8;
        font-size: 2rem;
    }

    nav .container button#close__nav-btn {
        display: none;
    }

    nav .container ul {
        position: fixed;
        right: 5%;
        top: 5rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        display: none;
    }

    nav .container ul li {
        width: 100%;
        opacity: 0;
        animation: flipNavItem 400ms ease forwards;
    }

    nav .container ul li:nth-child(2) {
        animation-delay: 200ms;
    }

    nav .container ul li:nth-child(3) {
        animation-delay: 400ms;
    }

    nav .container ul li:nth-child(4) {
        animation-delay: 600ms;
    }

    nav .container ul li:nth-child(5) {
        animation-delay: 800ms;
    }

    @keyframes flipNavItem {
        0% {
            transform: rotateX(90deg);
        }
        100% {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    nav .container ul li a {
        color: #fff;
        height: 100%;
        display: block;
        padding: 1.5rem 2rem;
        border-radius: 0;
        background: linear-gradient(#4cc9f0, #34c2ee);
    }

    nav .container ul li a.btn {
        background: #f72585;
    }
}

header {
    background: linear-gradient(135deg, #480ca8, #4cc9f0);
    color: #fff;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

header h1, header h2, header h3, header h4, header h5 {
    color: #fff;
}

header .container {
    margin-top: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 5%;
    align-items: center;
}

header .container .header__content h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    letter-spacing: -3px;
    padding-top: 1rem;
    font-weight: 300;
}

header .container .header__content h1 span {
    font-weight: 600;
}

header .container .header__content p {
    margin: 1rem 0 2rem;
    color: rgba(255, 255, 255, .7);
    font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
    header {
        height: 80vh;
        padding-top: 3rem;
    }

    header .container {
        margin: 2rem;
        gap: 1rem;
    }

    header .container .header__content h1 {
        font-size: 2rem;
        letter-spacing: .5px;
    }

    header .container .header__content h2 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: fit-content;
        padding-top: 5rem;
    }

    header .container {
        margin: 0;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

#services .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 5rem;
}

#services .container article {
    background: linear-gradient(135deg, #480ca8, #4cc9f0);
    color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 1000ms ease;
    text-align: center;
}

#services .container article h1,
#services .container article h2,
#services .container article h3,
#services .container article h4,
#services .container article h5 {
    color: #fff;
}

#services .container article:hover {
    background: linear-gradient(135deg, #4cc9f0, #ffffff);
    color: #480ca8;
    margin-top: -0.5rem;
}

#services .container article:hover h1,
#services .container article:hover h2,
#services .container article:hover h3,
#services .container article:hover h4,
#services .container article:hover h5 {
    color: #480ca8;
}

#services .container article i {
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    #services .container {
        grid-template-columns: 1fr 1fr;
        gap: .9rem;
    }

    #services .container article {
        padding: 1.2rem;
        gap: .8rem;
    }

    #services .container article:hover {
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    #services .container {
        grid-template-columns: 1fr;
    }
    #services .container article div h4 {
        margin-bottom: .8rem;
    }
}

#specialists {
    height: 100vh;
    margin: 0;
}

#specialists .container {
    height: 80%;
    width: 25%;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 2rem;
    transition: all 700ms ease-in;
}

#specialists .container:hover {
    height: 88%;
    width: 80%;
    justify-items: left;
    display: flex;
    transition: all 1000ms ease;
}

#specialists .container .information{
    width: 80%;
    padding: 2rem 3rem;
    overflow: hidden;
    display: none;
    transition: all 1000ms ease;
}

#specialists .container .information h1{
    margin: 3rem 0 2rem 1rem;
}

#specialists .container .information p{
    font-size: large;
    font-weight: 500;
    text-indent: 2rem;
    line-height: 2rem;
}

@media screen and (max-width: 1024px){
    #specialists .container .information{
        width: 100vw;
    }
    #specialists .container .information p{
        line-height: 2rem;
    }
    #specialists .container .information h1{
        margin: 2rem 0 1.5rem 1rem;
    }
}

@media screen and (max-width: 600px){
    #specialists{
        height: max-content;
    }

    #specialists .container .information{
        height: fit-content;
        width: 80vw;
        padding-left: 1.5rem;
        padding-right: 1rem;
    }
    #specialists .container .information p{
        line-height: 1.2rem;
    }
    #specialists .container .information h1{
        margin: 1rem 0 .5rem .5rem;
    }
}

#specialists article {
    
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 1.5rem rgba(12, 3, 27, .1);
    position: relative;
    transition: all 700ms ease;
}

#specialists article:hover {
    box-shadow: none;
}

#specialists article:hover .specialist__image::before {
    left: 0;
    border-radius: 1rem;
}

#specialists article:hover .specialist__socials,
#specialists article:hover .specialist__whatsapp {
    opacity: 1;
    visibility: visible;
}

#specialists article .specialist__image {
    height: 30rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.specialist__image img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block;
}


#specialists article .specialist__image::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(135deg, rgba(84, 235, 114, 0.7), rgba(72, 12, 168, 0.7));
    border-radius: 50%;
    transition: all 1s ease;
}

#specialists article .specialist__details {
    margin: 1.5rem 0;
    text-align: center;
}

#specialists article .specialist__socials {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#specialists article .specialist__socials a {
    background: #fff;
    color: #480ca8;
    padding: .4rem;
    display: flex;
    font-size: .8rem;
    border-radius: 50%;
    transition: all 400ms ease;
}

#specialists article .specialist__socials a:hover {
    background: #480ca8;
    color: #fff;
}

#specialists article .specialist__whatsapp {
    background: #54eb72;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 1s 400ms ease;
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
    #specialists .container {
        height: 75vh;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    #specialists article .specialist__image {
        height: 25rem;
        position: relative;
        border-radius: 1rem;
        overflow: hidden;
    }

}

@media screen and (max-width: 600px) {
    #specialists .container {
        height: fit-content;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    #specialists .container article{
        height: 100%;
    }
}

.swiper {
    width: 75%;
}

.swiper .swiper-wrapper {
    margin-bottom: 3rem;
}

.swiper .swiper-wrapper .swiper-slide {
    background: linear-gradient(135deg, #480ca8, #4cc9f0);
    color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    cursor: default;
    font-size: .9rem;
    text-align: center;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.swiper .swiper-wrapper .swiper-slide h1,
.swiper .swiper-wrapper .swiper-slide h2,
.swiper .swiper-wrapper .swiper-slide h3,
.swiper .swiper-wrapper .swiper-slide h4,
.swiper .swiper-wrapper .swiper-slide h5 {
    color: #fff;
}

.swiper .swiper-wrapper .swiper-slide p {
    margin-bottom: 0.5rem;
}

.swiper .swiper-wrapper .swiper-slide .petowner {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 1rem;
} 

.swiper .swiper-wrapper .swiper-slide .petowner .avatar {
    position: absolute;
    bottom: 5%;
    width: 87%;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    overflow: hidden;
}

.swiper .swiper-wrapper .swiper-slide .petowner .avatar:hover{
    
    scale: 1.05;
    transition: all 400ms ease-in-out;
}

.swiper .swiper-pagination-bullet {
    background: #480ca8;
}

@media screen and (max-width: 600px) {
    .swiper .swiper-wrapper .swiper-slide {
        padding: 1.5rem;
        height: 65%;
    }
}

#appointment .container {
    background: linear-gradient(135deg, #4cc9f0, #ffffff);
    color: #480ca8;
    padding: 5rem 3rem 3rem 3rem;
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 6%;
    border-radius: 2.5rem;
}

#appointment .container h1,
#appointment .container h2,
#appointment .container h3,
#appointment .container h4,
#appointment .container h5 {
    color: #480ca8;
}

#appointment .container .info p {
    margin: .5rem 0 2.5rem;
}

#appointment .container .info article {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

#appointment .container .info article small {
    margin-top: .5rem;
    display: block;
}

#appointment .container .info article .info__icon {
    background-color: #f72585;
    color: #fff;
    padding: .5rem .5rem;
    border-radius: .5rem;
    height: fit-content;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    animation: all 100ms ease;
}

#appointment .container .info article .info__icon:hover {
    background-color: #480ca8;
}

#appointment .container .form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

#appointment .container .form__group label {
    font-size: 1rem;
    margin-bottom: .5rem;
    color: #480ca8;
    font-family: "Montserrat", sans-serif;
}

#appointment .container .form__group select {
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

#appointment .container .form__group input {
    padding: 1rem;
    font-size: 1rem;
    background: rgba(255, 255, 255, .7);
    border-radius: 5px;
    color: #480ca8;
    font-family: "Montserrat", sans-serif;
}

#appointment .container .form__group input:focus {
    outline: none;
    border-color: #4cc9f0;
}

#appointment .container button {
    padding: .75rem 1rem;
    font-size: 1rem;
    background-color: #4cc9f0;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

#appointment .container button:hover {
    background-color: #f72585;
    transition: all 200ms ease;
}

@media screen and (max-width: 600px) {
    #appointment .container {
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
        width: auto;
        height: fit-content;
    }

    #appointment .container .info article {
        gap: 0;
    }

    #appointment .container .info article small {
        display: flex;
    }

    #appointment .container .info h2,
    #appointment .container .info p {
        text-align: center;
        display: flex;
    }

    #appointment .container .form__group label {
        white-space: normal;
    }

    #appointment .container .form__group select,
    #appointment .container .form__group input {
        width: 100%;
        box-sizing: border-box;
    }
}



#testimonials{
    padding-top: 6rem;
    height: 100vh;
}

footer {
  background: #0c031b;
  color: rgba(255, 255, 255, .7);
  padding-top: 2rem;
  margin-top: 2rem;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  font-size: .85rem;
}

footer .container article {
  gap: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

footer .container article > div {
  display: flex;
  align-items: center;
  gap: .7rem;
}

footer .container article > h3 {
  color: #fff;
}

footer .container article .logo img {
  width: 10rem;
  height: auto;
  margin: 0;
  transition: all 200ms ease;
  justify-self: center;
}

footer .container article .logo img:hover {
  scale: 1.1;
}

footer .container article .footer__socials {
  gap: .5rem;
  font-size: 1.2rem;
}

footer .container a {
  color: rgba(255, 255, 255, .7);
  transition: all 300ms ease;
}

footer .container a:hover {
  color: #fff;
}

footer .copyright {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  border-top: .5px solid rgba(255, 255, 255, .1);
  font-size: .9rem;
}

footer .copyright a {
  color: #fff;
}

footer .copyright a:hover {
  color: #f72585;
}

@media screen and (max-width: 1024px) {
  footer .container {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  footer .container .btn,
  footer .container .footer__socials {
    margin: 0 auto;
  }
  footer .container article > div {
    justify-content: center;
  }
}

#stars span {
    margin: 5px;
    padding: 20px 0;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ccc;
    transition: 0.2s;
}

#stars span:hover,
#stars span.active {
    color: gold;
}

#rating-container {
    display: inline;
    justify-items: center; 
}

.rating{
    align-self: end;
}

.lang-switcher {
margin-left: 20px;
}
.lang-switcher select {
padding: 6px 12px;
border-radius: 10px;
border: none;
font-size: 14px;
}